$header-text-color: #ffffff;
$header-bg-color: rgba(242, 120, 92, 0.7);
$header-hight: 90px;
$button-color: #0D606F;
$button-text-color: #ffffff;
$text-color-light: #ffffff;
$text-color-dark: #000000;
$text-color-colored: #F2785C;
$marker-color: rgba(242, 120, 92, 0.5);
$marker-color-checked: #F2785C;