@font-face {
    font-family: 'Aleo';
    src: url('Aleo-Regular.eot');
    src: url('Aleo-Regular.eot?#iefix') format('embedded-opentype'),
        url('Aleo-Regular.woff2') format('woff2'),
        url('Aleo-Regular.woff') format('woff'),
        url('Aleo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aleo';
    src: url('Aleo-Bold.eot');
    src: url('Aleo-Bold.eot?#iefix') format('embedded-opentype'),
        url('Aleo-Bold.woff2') format('woff2'),
        url('Aleo-Bold.woff') format('woff'),
        url('Aleo-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aleo';
    src: url('Aleo-Light.eot');
    src: url('Aleo-Light.eot?#iefix') format('embedded-opentype'),
        url('Aleo-Light.woff2') format('woff2'),
        url('Aleo-Light.woff') format('woff'),
        url('Aleo-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aleo';
    src: url('Aleo-Italic.eot');
    src: url('Aleo-Italic.eot?#iefix') format('embedded-opentype'),
        url('Aleo-Italic.woff2') format('woff2'),
        url('Aleo-Italic.woff') format('woff'),
        url('Aleo-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aleo';
    src: url('Aleo-LightItalic.eot');
    src: url('Aleo-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Aleo-LightItalic.woff2') format('woff2'),
        url('Aleo-LightItalic.woff') format('woff'),
        url('Aleo-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aleo';
    src: url('Aleo-BoldItalic.eot');
    src: url('Aleo-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Aleo-BoldItalic.woff2') format('woff2'),
        url('Aleo-BoldItalic.woff') format('woff'),
        url('Aleo-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Magra';
    src: url('Magra.eot');
    src: url('Magra.eot?#iefix') format('embedded-opentype'),
        url('Magra.woff2') format('woff2'),
        url('Magra.woff') format('woff'),
        url('Magra.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Magra';
    src: url('Magra-Bold.eot');
    src: url('Magra-Bold.eot?#iefix') format('embedded-opentype'),
        url('Magra-Bold.woff2') format('woff2'),
        url('Magra-Bold.woff') format('woff'),
        url('Magra-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Red Hat Text';
    src: url('RedHatText-LightItalic.eot');
    src: url('RedHatText-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('RedHatText-LightItalic.woff2') format('woff2'),
        url('RedHatText-LightItalic.woff') format('woff'),
        url('RedHatText-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Red Hat Text';
    src: url('RedHatText-Light.eot');
    src: url('RedHatText-Light.eot?#iefix') format('embedded-opentype'),
        url('RedHatText-Light.woff2') format('woff2'),
        url('RedHatText-Light.woff') format('woff'),
        url('RedHatText-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

