@import '../../styles/abstract/variables';

.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="radio"] {
  position: absolute;
  visibility: hidden;
}

.slider {
  display: flex;
  gap: 60px;
  justify-content: flex-start;
}

.markers {
  display: flex;
  gap: 10px;
  align-self: center;
  position: absolute;
  left: 47.5%;
  bottom: 7%;
}

.marker {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $marker-color;
  border: 2px solid white;
}

.marker_checked {
  background-color: $marker-color-checked;
}

.marker:hover {
  background-color: $marker-color-checked;
}