@import '../../styles/abstract/variables';

.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="radio"] {
  position: absolute;
  visibility: hidden;
}

.slider {
  display: flex;
  gap: 60px;
  justify-content: flex-start;

  position: relative;
}

.markers {
  display: flex;
  gap: 10px;
  align-self: center;

  position: absolute;
  right: 30%;
  bottom: 7%;
  z-index: 10;
}

.marker {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $marker-color;
  border: 0;
}

.marker_checked {
  background-color: $marker-color-checked;
}

.marker:hover {
  background-color: $marker-color-checked;
}

.carousel__button {
  display: none;
}

@media (max-width: $point-one) {}

@media (max-width: $point-two) {
  .markers {
    right: 25%;
  }
}

@media (max-width: $point-three) {
  .markers {
    gap: 5px;
    left: 47.5%;
    bottom: 7%;
    z-index: 10;
  }

  .marker {
    width: 10px;
    height: 10px;
  }

  .carousel__button {
    display: block;
    position: absolute;
    z-index: 10;
    padding: 15px;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
  }

  .carousel__button_left {
    top: 40%;
    left: 1%;
  }

  .carousel__button_right {
    top: 40%;
    right: 1%;
  }
}

@media (max-width: $point-four) {}