@import '../../../styles/abstract/variables';

.destinations {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
  padding-bottom: 80px;
}

@media (max-width: $point-one) {
  .destinations {
    padding-bottom: 60px;
  }
}

@media (max-width: $point-two) {
  .destinations {
    padding-bottom: 50px;
  }
}

@media (max-width: $point-three) {
  .destinations {
    gap: 20px;
  }

  .destinations {
    padding-bottom: 40px;
  }
}

@media (max-width: $point-four) {
  .destinations {
    padding-bottom: 20px;
  }
}