@import '../../../styles/abstract/variables';

.destinations {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
  padding-bottom: 80px;
}

@media (max-width: $point-one) {}

@media (max-width: $point-two) {}

@media (max-width: $point-three) {
  .destinations {
    gap: 20px;
  }
}

@media (max-width: $point-four) {}