@import '../../styles/abstract/variables';

.plan-your-trip {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 46px;
  width: 892px;
  padding-top: 32px;
  padding-left: 120px;
}

.plan-your-trip-form {
  position: relative;
}

.start-search__input {
  width: 100%;
  height: 95px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.7);
  border: 0;
  padding-left: 20px;
  font-size: 30px;
  z-index: 10;
}

.start-search__button {
  position: absolute;
  top: 20px;
  right: 0;
  cursor: pointer;
}

@media (max-width: $point-one) {
  .plan-your-trip {
    gap: 30px;
    width: 80%;
    padding-top: 0;
    padding-left: 16px;
    padding-right: 16px;
  }

  .start-search__input {
    height: 75px;
    padding-left: 20px;
    font-size: 20px;
  }

  .start-search__button {
    top: 10px;
  }
}

@media (max-width: $point-two) {}

@media (max-width: $point-three) {
  .plan-your-trip {
    gap: 15px;

  }

  .start-search__input {
    height: 55px;
    padding-left: 20px;
    font-size: 20px;
  }

  .start-search__button {
    top: 7px;
  }
}

@media (max-width: $point-four) {
  .plan-your-trip {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .start-search__input {
    width: 80vw;
  }

  .start__head {
    display: none;
  }

  .start__description {
    display: none;
  }

  .start-search__button {
    top: 12px;
    right: 10px;
  }
}