@import '../../../styles/abstract/variables';

.footer {
  background-image: url('../../../assets/images/webp/boat-and-water.webp');
  background-position: bottom;
  height: 101px;

  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.alignment-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
}

.footer__social-networks-links {
  display: flex;
  gap: 20px;
}

.social-network-link {
  cursor: pointer;
}

@media (max-width: $point-one) {}

@media (max-width: $point-two) {}

@media (max-width: $point-three) {
  .footer__description {
    display: none;
  }

  .alignment-container {
    width: 100%;
  }
}

@media (max-width: $point-four) {}