@import '../../../styles/abstract/variables';

.stories {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.story {
  height: 250px;
}

.story__img {
  border-radius: 20px;
}

.story__head {
  padding-bottom: 1.5rem;
}

.story__synopsis {
  height: 9rem;
  overflow: hidden;
}

.stories__board {
  align-self: stretch;
  padding: 40px 120px;
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../../../assets/images/boat-and-water.png");
  background-position: top;

  display: flex;
  flex-direction: column;
  gap: 50px;
}

.story {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.story__description {
  display: flex;
  flex-direction: column;
}