@import '../../../styles/abstract/variables';

.header {
  width: auto;
  height: $header-hight;

  display: flex;
  align-items: center;
  justify-content: space-around;

  background-image: url('../../../assets/images/bg-img-preview.jpg');
  background-size: cover;
  box-shadow: inset 0 $header-hight 0 $header-bg-color;
}

.header button {
  font-size: 16px;
  line-height: 21px;
}

@media (max-width: $point-one) {
  .header {
    height: calc(0.0625 * 100vw);
    justify-content: space-between;
    padding: 0 16px;
  }
}

@media (max-width: $point-two) {}

@media (max-width: $point-three) {
  .header {
    justify-content: space-between;
    box-shadow: none;
    padding: 0 16px;
    height: calc(0.15625 * 100vw);
  }
}